.container
    .section-heading.d-flex.align-items-center.justify-content-between
        h6 Collections
        a.btn(href="#") View All

    // Collection Slide
    .collection-slide.owl-carousel

        // Collection Card
        .card.collection-card
            a(href="single-product.html")
                img(src="img/product/17.jpg", alt="")
            .collection-title
                span Women
                span 9 new items

        // Collection Card
        .card.collection-card
            a(href="single-product.html")
                img(src="img/product/19.jpg", alt="")
            .collection-title
                span Men
                span 29 items

        // Collection Card
        .card.collection-card
            a(href="single-product.html")
                img(src="img/product/21.jpg", alt="")
            .collection-title
                span Kids
                span 4 new items

        // Collection Card
        .card.collection-card
            a(href="single-product.html")
                img(src="img/product/22.jpg", alt="")
            .collection-title
                span Gadget
                span 11 items

        // Collection Card
        .card.collection-card
            a(href="single-product.html")
                img(src="img/product/23.jpg", alt="")
            .collection-title
                span Foods
                span 2 new items

        // Collection Card
        .card.collection-card
            a(href="single-product.html")
                img(src="img/product/24.jpg", alt="")
            .collection-title
                span Sports
                span 5 items

    .pb-3