// Featured Products Wrapper
.featured-products-wrapper.py-3
    .container
        .section-heading.d-flex.align-items-center.justify-content-between
            h6 Featured Products
            a.btn(href="featured-products.html") View All

        .row.g-3
            // Featured Product Card
            .col-6.col-md-4.col-lg-3
                .card.featured-product-card
                    .card-body
                        // Badge
                        span.badge.badge-warning.custom-badge
                            i.lni.lni-star
                        .product-thumbnail-side
                            // Wishlist Button 
                            a.wishlist-btn.shadow-sm.border(href="#")
                                i.lni.lni-heart
                            // Thumbnail 
                            a.product-thumbnail.d-block(href="single-product.html")
                                img(src="img/product/14.png", alt="")
                        .product-description
                            // Product Title 
                            a.product-title.d-block(href="single-product.html") Blue Skateboard
                            // Price 
                            p.sale-price
                                | $39.8
                                span $89

            // Featured Product Card
            .col-6.col-md-4.col-lg-3
                .card.featured-product-card
                    .card-body
                        // Badge
                        span.badge.badge-warning.custom-badge
                            i.lni.lni-star
                        .product-thumbnail-side
                            // Wishlist Button 
                            a.wishlist-btn.shadow-sm.border(href="#")
                                i.lni.lni-heart
                            // Thumbnail 
                            a.product-thumbnail.d-block(href="single-product.html")
                                img(src="img/product/15.png", alt="")
                        .product-description
                            // Product Title 
                            a.product-title.d-block(href="single-product.html") Travel Bag
                            // Price 
                            p.sale-price
                                | $14.7
                                span $21

            // Featured Product Card
            .col-6.col-md-4.col-lg-3
                .card.featured-product-card
                    .card-body
                        // Badge
                        span.badge.badge-warning.custom-badge
                            i.lni.lni-star
                        .product-thumbnail-side
                            // Wishlist Button 
                            a.wishlist-btn.shadow-sm.border(href="#")
                                i.lni.lni-heart
                            // Thumbnail 
                            a.product-thumbnail.d-block(href="single-product.html")
                                img(src="img/product/16.png", alt="")
                        .product-description
                            // Product Title 
                            a.product-title.d-block(href="single-product.html") Cotton T-shirts
                            // Price 
                            p.sale-price
                                | $3.69
                                span $5

            // Featured Product Card
            .col-6.col-md-4.col-lg-3
                .card.featured-product-card
                    .card-body
                        // Badge
                        span.badge.badge-warning.custom-badge
                            i.lni.lni-star
                        .product-thumbnail-side
                            // Wishlist Button 
                            a.wishlist-btn.shadow-sm.border(href="#")
                                i.lni.lni-heart
                            // Thumbnail 
                            a.product-thumbnail.d-block(href="single-product.html")
                                img(src="img/product/6.png", alt="")
                        .product-description
                            // Product Title 
                            a.product-title.d-block(href="single-product.html") Roof Lamp
                            // Price 
                            p.sale-price
                                | $27.9
                                span $31