// Weekly Best Sellers
.weekly-best-seller-area.py-3
    .container
        .section-heading.d-flex.align-items-center.justify-content-between
            h6 Weekly Best Sellers
            a.btn(href="shop-list.html") View All

        .row.g-3
            // Single Weekly Product Card 
            .col-12.col-md-6
                .card.horizontal-product-card
                    .card-body.d-flex.align-items-center
                        .product-thumbnail-side
                            // Badge 
                            span.badge.badge-success Sale
                            // Wishlist Button 
                            a.wishlist-btn(href="#")
                                i.lni.lni-heart
                            // Thumbnail 
                            a.product-thumbnail.d-block(href="single-product.html")
                                img(src="img/product/10.png", alt="")
                        .product-description
                            // Product Title 
                            a.product-title.d-block(href="single-product.html") Modern Sofa
                            // Price 
                            p.sale-price
                                i.lni.lni-dollar
                                | $64
                                span $89
                            // Rating 
                            .product-rating
                                i.lni.lni-star-filled
                                | 4.88 (39)
                            // Buy Now Button 
                            a.btn.btn-danger.btn-sm(href="#")
                                i.me-1.lni.lni-cart
                                | Buy Now

            // Single Weekly Product Card 
            .col-12.col-md-6
                .card.horizontal-product-card
                    .card-body.d-flex.align-items-center
                        .product-thumbnail-side
                            // Badge 
                            span.badge.badge-primary Sale
                            // Wishlist Button 
                            a.wishlist-btn(href="#")
                                i.lni.lni-heart
                            // Thumbnail 
                            a.product-thumbnail.d-block(href="single-product.html")
                                img(src="img/product/7.png", alt="")
                        .product-description
                            // Product Title 
                            a.product-title.d-block(href="single-product.html") Office Chair
                            // Price 
                            p.sale-price
                                i.lni.lni-dollar
                                | $100
                                span $160
                            // Rating 
                            .product-rating
                                i.lni.lni-star-filled
                                | 4.82 (125)
                            // Buy Now Button 
                            a.btn.btn-danger.btn-sm(href="#")
                                i.me-1.lni.lni-cart
                                | Buy Now

            // Single Weekly Product Card 
            .col-12.col-md-6
                .card.horizontal-product-card
                    .card-body.d-flex.align-items-center
                        .product-thumbnail-side
                            // Badge 
                            span.badge.badge-danger -10%
                            // Wishlist Button 
                            a.wishlist-btn(href="#")
                                i.lni.lni-heart
                            // Thumbnail 
                            a.product-thumbnail.d-block(href="single-product.html")
                                img(src="img/product/12.png", alt="")
                                // Offer Countdown Timer: Please use event time this format: YYYY/MM/DD hh:mm:ss 
                                ul.offer-countdown-timer.d-flex.align-items-center.shadow-sm(data-countdown="2022/12/09 23:59:59")
                                    li
                                        span.days 0
                                        | d
                                    li
                                        span.hours 0
                                        | h
                                    li
                                        span.minutes 0
                                        | m
                                    li
                                        span.seconds 0
                                        | s
                        .product-description
                            // Product Title 
                            a.product-title.d-block(href="single-product.html") Sun Glasses
                            // Price 
                            p.sale-price
                                i.lni.lni-dollar
                                | $24
                                span $32
                            // Rating 
                            .product-rating
                                i.lni.lni-star-filled
                                | 4.79 (63)
                            // Buy Now Button 
                            a.btn.btn-danger.btn-sm(href="#")
                                i.me-1.lni.lni-cart
                                | Buy Now

            // Single Weekly Product Card 
            .col-12.col-md-6
                .card.horizontal-product-card
                    .card-body.d-flex.align-items-center
                        .product-thumbnail-side
                            // Badge 
                            span.badge.badge-warning New
                            // Wishlist Button 
                            a.wishlist-btn(href="#")
                                i.lni.lni-heart
                            // Thumbnail 
                            a.product-thumbnail.d-block(href="single-product.html")
                                img(src="img/product/13.png", alt="")
                        .product-description
                            // Product Title 
                            a.product-title.d-block(href="single-product.html") Wall Clock
                            // Price 
                            p.sale-price
                                i.lni.lni-dollar
                                | $31
                                span $47
                            // Rating 
                            .product-rating
                                i.lni.lni-star-filled
                                | 4.99 (7)
                            // Buy Now Button 
                            a.btn.btn-danger.btn-sm(href="#")
                                i.me-1.lni.lni-cart
                                | Buy Now